.button, .toggle-button {
    -fx-text-fill: #000000;
    -fx-background-color: #347ED4;
}

.button:hover, .toggle-button:hover {
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:pressed{
    -fx-text-fill: #FFFFFF;
}

.toggle-button:selected{
    -fx-text-fill: #347ED4;
    -fx-background-color: #FFFFFF;
}

.check-box .box{
    -fx-background-color: #347ED4;
    -fx-border-color: #347ED4;
    -fx-border-radius: 0px;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.label{
    -fx-text-fill: #FFFFFF;
}

.combo-box{
    -fx-background-color: #347ED4;
}

.combo-box .list-cell
{
    -fx-background-color: #347ED4;
    -fx-border-color: #347ED4;
    -fx-text-fill: white;
}

.combo-box-popup .list-view
{
    -fx-background-color: #347ED4;
}

.combo-box-popup .list-view .list-cell{
    -fx-text-fill: black;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-popup .list-view .list-cell:selected{
    -fx-text-fill: white;
}



